<h1 id="brandLogo" class="text-center">
  <a (click)="backToLandingPage()"><img src="./assets/img/firstdata_logo.svg"></a>
</h1>
<div class="formWrap ">
  <div class="formWrapInner exSpacer">
    <ul class="nav nav-tabs" id="signin-tab" role="tablist">
      <li class="nav-item w-50 text-right">
        <a class="nav-link " id="home-tab" data-toggle="tab" [routerLink]="['/user/signin']" role="tab"
           aria-controls="home" aria-selected="true" [ngClass]="{'active show':currentTab=='signin'}" >Sign In</a>
      </li>
      <li class="nav-item w-50">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" [routerLink]="['/user/signup']" role="tab"
           aria-controls="profile" aria-selected="false" [ngClass]="{'active show':currentTab!='signin'}">Sign Up</a>
      </li>

    </ul>
    <div class="tab-content" id="signin-tab-content">


      <!--Sign in Tab Starts -->
      <div class="tab-pane fade  " [ngClass]="{'active show':currentTab=='signin'}" id="signin" role="tabpanel" aria-labelledby="signin-tab">


        <!-- Start if signin form -->
        <form #signInReg="ngForm" (ngSubmit)="signInRegular(signInReg)">

          <div *ngIf="signInError">
             <p  class="loginDesc fd-bld">Your email or password is incorrect!</p>
          </div>

          <div *ngIf="!signInError && singInSuccess">
           <p class="loginDesc ">  Please complete all fields below</p>
          </div>

          <div class="form-group emailWrap">
            <input
              type="text"
              class="form-control "
              placeholder="Email"
              name="email"
              ngModel
              #email="ngModel"
            >


          </div>
          <div class="form-group passwordWrap">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              name="password"
              ngModel
              #password="ngModel"
            >

          </div>


          <button type="submit"
                  class="btnSubmit btn btn-primary btn-lg btn-block">
                  Sign In
          </button>


        </form>
        <p class="text-center footerTxt ">Forgot Password? <a (click)="resetRegPassword()" class="link-style">Reset </a>
        </p>

        <!-- end of sign IN form-->
      </div>

      <!-- Start of signUP form -->


      <!--Sign UP Tab Starts-->

      <div class="tab-pane fade " [ngClass]="{'active show':currentTab!='signin'}" id="signup" role="tabpanel"
           aria-labelledby="signup-tab">
        <p class="loginDesc">Please complete all fields below</p>

        <!-- start of sign UP form -->


        <form #signUpForm="ngForm" (ngSubmit)="signUpUser(signUpForm)">


          <div class="form-group">
            <input
              type="text"
              class=" form-control"
              placeholder="Reference Key"
              name="referenceKey"
              ngModel
              required
              #refrenceNumber="ngModel"
            >
            <div class="fd-error" (click)="signUpForm.submitted = false" *ngIf="signUpForm.submitted">Incorrect Reference Key!</div>
          </div>


          <div class="form-group">
            <input
              type="text"
              class="form-control "
              placeholder="Lease Number"
              name="leaseNumber"
              ngModel
              required
              [formControl]="leaseNumberFC"
            >
            <div class="fd-error"  (click)="signUpForm.submitted = false" *ngIf="signUpForm.submitted">Incorrect Lease Number!</div>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control "
              placeholder="Merchant DBA"
              name="merchantDBA"
              ngModel
              required
              #merchantDBA="ngModel"
            >
            <div class="fd-error"  (click)="signUpForm.submitted = false" *ngIf="signUpForm.submitted" >Incorrect Merchant DBA!</div>

          </div>
          <!-- Recaptch -->
          <div class="form-group">
            <re-captcha

              name="captcha"
              required
              ngModel
            ></re-captcha>
          </div>


          <button type="submit"
                  class="btnSubmit btn btn-primary btn-lg btn-block"
                  [disabled]="!signUpForm.valid">
            Submit
          </button>


        </form>

        <p class="text-center footerTxt ">Already have an account? <a (click)="signInPageReg()" class=""><b>Sign In</b></a>
        </p>


        <!-- end of signUp form -->


      </div>


    </div>

  </div>

</div>





