<div id="signWrap" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="brandLogo" class="text-center">
        <img src="./assets/img/firstdata_logo.svg">
      </h1>
      <div class="formWrap ">
        <div class="formWrapInner">

          <h1 class="headingWrap">Reset Your Password</h1>
          <div class="tab-content" id="signin-tab-content">

            <div class="tab-pane fade show active" id="signup" role="tabpanel" aria-labelledby="signup-tab">
              <div>
              <p class="loginDesc">Enter your email and we’ll send a link to reset your password to the address we have
                on file.
              </p>
              <p *ngIf="resetPass.submitted" class="loginDesc fd-bld">Email not registered. Please try again!</p>
            </div>
              <form #resetPass="ngForm" (submit)="forgotPass(resetPass)">
                <div class="form-group emailWrap">
                  <input
                    type=""
                    class="form-control"
                    aria-describedby="emailHelp"
                    placeholder="Email"
                    name="email"
                    ngModel
                    required

                  >

                </div>


                <button type="submit" class="btnSubmit spe-sign btn btn-primary btn-lg btn-block" [disabled]="!resetPass.valid">Submit</button>


              </form>

            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>
