<!--Lease tabs Starts Here-->
<div class="row ">
  <div class="db-lease-tab col-12 ">

      <!-- Nav pills -->
      <ul class="nav nav-pills">
          <li class="nav-item mb-2 col-12 col-sm-6 col-md-3">
              <a class="nav-link active show" data-toggle="pill" href="#Equipment">Equipment</a>
          </li>
          <li class="nav-item mb-2 col-12 col-sm-6 col-md-3">
              <a class="nav-link" data-toggle="pill" href="#Payment">Payment</a>
          </li>
          <li class="nav-item mb-2 col-12 col-sm-6 col-md-3">
              <a class="nav-link " data-toggle="pill" href="#Contract">Contract Status</a>
          </li>
          <li class="nav-item mb-2 col-12 col-sm-6 col-md-3">
              <a class="nav-link" data-toggle="pill" href="#Coverage">Equipment Coverage</a>
          </li>
      </ul>

      <!-- Tab panes -->


  </div>


</div>


<!--Lease tabs Cnts Starts Here-->
<div class="row btmTabCtrl ">
  <div class="db-lease-tab-cnt p-0 col-12 ">


      <!--Tab  Cnt Wrapper Starts-->

      <div class="tab-content">
          <!--Equipment Tab Cnt starts-->
          <div class="tab-pane container" id="Equipment">

              <div class="card">
                  <div class="card-header text-center">
                      <label>Lease Status:</label>
                      <span class="statusWrap">Current</span>
                      <br>

                      <div class="styletwo">
                          <span class="">NON-CANCELLABLE</span>
                          <span class="">Lease</span>
                      </div>


                  </div>

                  <div class="card-body">
                      <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
                          <div class="carousel-inner" role="listbox">

                              <div class="carousel-item active">
                                  <div class="row">
                                      <div class="col-10 offset-1">
                                          <div class="row">
                                              <div class="col-12 col-md-6 ">

                                                  <div class="cus-card p-5 col-12 col-md-10 offset-md-1">
                                                      <ul>
                                                          <li>
                                                              <label>Equipment:</label>
                                                              <br>
                                                              <span class="">Clover Station</span>
                                                          </li>
                                                          <li>
                                                              <label>Make and Model:</label>
                                                              <br>
                                                              <span class="">12313313 | 2010</span>
                                                          </li>
                                                          <li>
                                                              <label>Serial number:</label>
                                                              <br>
                                                              <span class="">XXX-XXXXXXXXX-XXX</span>
                                                          </li>
                                                          <li>
                                                              <label>Equipment Status:</label>
                                                              <br>
                                                              <span class="">Returned</span>
                                                          </li>
                                                      </ul>

                                                  </div>
                                              </div>
                                              <div class="col-12 col-md-6 d-none d-sm-none d-md-block ">
                                                  <div class="cus-card p-5 col-12 col-md-10 offset-md-1">
                                                      <ul>
                                                          <li>
                                                              <label>Equipment:</label>
                                                              <br>
                                                              <span class="">Clover Station</span>
                                                          </li>
                                                          <li>
                                                              <label>Make and Model:</label>
                                                              <br>
                                                              <span class="">12313313 | 2010</span>
                                                          </li>
                                                          <li>
                                                              <label>Serial number:</label>
                                                              <br>
                                                              <span class="">XXX-XXXXXXXXX-XXX</span>
                                                          </li>
                                                          <li>
                                                              <label>Equipment Status:</label>
                                                              <br>
                                                              <span class="">Returned</span>
                                                          </li>
                                                      </ul>

                                                  </div>
                                              </div>
                                          </div>

                                      </div>

                                  </div>
                              </div>
                              <div class="carousel-item">
                                  <div class="row">
                                      <div class="col-10 offset-1">
                                          <div class="row">
                                              <div class="col-12 col-md-6 d-none d-sm-none d-md-block ">
                                                  <div class="cus-card p-5 col-12 col-md-10 offset-md-1">
                                                      <ul>
                                                          <li>
                                                              <label>Equipment:</label>
                                                              <br>
                                                              <span class="">Clover Station</span>
                                                          </li>
                                                          <li>
                                                              <label>Make and Model:</label>
                                                              <br>
                                                              <span class="">12313313 | 2010</span>
                                                          </li>
                                                          <li>
                                                              <label>Serial number:</label>
                                                              <br>
                                                              <span class="">XXX-XXXXXXXXX-XXX</span>
                                                          </li>
                                                          <li>
                                                              <label>Equipment Status:</label>
                                                              <br>
                                                              <span class="">Returned</span>
                                                          </li>
                                                      </ul>

                                                  </div>
                                              </div>
                                              <div class="col-12 col-md-6  ">
                                                  <div class="cus-card p-5 col-12 col-md-10 offset-md-1">
                                                      <ul>
                                                          <li>
                                                              <label>Equipment:</label>
                                                              <br>
                                                              <span class="">Clover Station</span>
                                                          </li>
                                                          <li>
                                                              <label>Make and Model:</label>
                                                              <br>
                                                              <span class="">12313313 | 2010</span>
                                                          </li>
                                                          <li>
                                                              <label>Serial number:</label>
                                                              <br>
                                                              <span class="">XXX-XXXXXXXXX-XXX</span>
                                                          </li>
                                                          <li>
                                                              <label>Equipment Status:</label>
                                                              <br>
                                                              <span class="">Returned</span>
                                                          </li>
                                                      </ul>

                                                  </div>
                                              </div>
                                          </div>

                                      </div>

                                  </div>
                              </div>
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                          </a>
                      </div>
                  </div>
              </div>


          </div>
          <!--Payment Tab Cnt starts-->
          <div class="tab-pane container" id="Payment">
              <div class="card">
                  <div class="card-header text-center">
                      <label>Lease Status:</label>
                      <span class="statusWrap">Default</span>
                      <br>

                      <div class="styletwo">
                          <span class="">NON-CANCELLABLE</span>
                          <span class="">Lease</span>
                      </div>


                  </div>

                  <div class="card-body py-2">
                      <h6>Your payment is past due! <span class="paymentWrap" data-toggle="modal" data-target="#paymentpop" (click)="showAlerts()">Click here for next steps</span>
                      </h6>
                      <!--<div class="alertWrap  float-right d-inline-block" data-toggle="modal" data-target="#paymentpop">-->
                      <!--<img src="img/alert.svg">-->
                      <!--<br>-->
                      <!--<span class="clearfix">Alert</span>-->
                      <!--</div>-->
                      <div class="row">
                          <table class="table ">

                              <tbody>
                              <tr>
                                  <td>Lease Status</td>
                                  <td>Default</td>
                              </tr>
                              <tr>
                                  <td>Current Balance</td>
                                  <td>$3,000.00</td>
                              </tr>
                              <tr>
                                  <td>Last Payment</td>
                                  <td>$125.00</td>
                              </tr>
                              <tr>
                                  <td>Total Mimimum Due</td>
                                  <td>$250.00</td>
                              </tr>
                              <tr>
                                  <td>Payment Due Date</td>
                                  <td>02/03/2018</td>
                              </tr>
                              <tr>
                                  <td>Days Past Due</td>
                                  <td>20 Days</td>
                              </tr>
                              <tr>
                                  <td>Past Payment Due</td>
                                  <td>$125.00</td>
                              </tr>
                              </tbody>
                          </table>
                      </div>


                  </div>
              </div>

          </div>
          <!--Contract Status Tab Cnt starts-->

          <div class="tab-pane container active show" id="Contract">
              <div class="card">
                  <div class="card-header text-center">
                      <label>Lease Status:</label>
                      <span class="statusWrap">Write Off </span>
                      <br>

                      <div class="styletwo">
                          <span class="">NON-CANCELLABLE</span>
                          <span class="">Lease</span>
                      </div>


                  </div>

                  <div class="card-body py-5">
                      <div class="row">

                          <!--col one-->
                          <div class=" col-sm-6 col-12 col-md-3">
                              <ul>
                                  <li>
                                      <label>Lease Status:</label>
                                      <span class="">Write Off</span>
                                  </li>
                                  <li>
                                      <label>
                                          Lease Term:</label>
                                      <span class="">36 Months</span>
                                  </li>
                                  <li>
                                      <label>Start Date:</label>
                                      <span class=""> 03/20/2018 </span>
                                  </li>

                                  <li>
                                      <label>End date:</label>
                                      <span class="">  02/19/2021 </span>
                                  </li>
                              </ul>

                          </div>
                          <!--col two-->
                          <div class="col-sm-6 col-12 col-md-3">
                              <ul>
                                  <li>
                                      <label>Payments Made:</label>
                                      <span class="">2</span>
                                  </li>
                                  <li>
                                      <label>
                                          Payment Amount:</label>
                                      <span class="">$55.60</span>
                                  </li>
                                  <li>
                                      <label>Past Due Amount:</label>
                                      <span class=""> $75.60 </span>
                                  </li>

                                  <li>
                                      <label>Days Past Due:</label>
                                      <span class=""> 31</span>
                                  </li>
                              </ul>

                          </div>
                          <!--col three-->
                          <div class="col-sm-6 col-12 col-md-3">
                              <ul>
                                  <li>
                                      <label>Personal Guarantor:</label>
                                      <span class="">Yes</span>
                                  </li>
                                  <li>
                                      <label>
                                          Buyout Quote:</label>
                                      <span class="">$1500</span>
                                  </li>
                                  <li>
                                      <label>Bank Routing Number:</label>
                                      <span class="">XXXXXX4563 </span>
                                  </li>

                                  <li>
                                      <label>Bank Account Number:</label>
                                      <span class="">  XXXXXXXXXX3124 </span>
                                  </li>
                              </ul>

                          </div>
                          <!--col four-->
                          <div class="col-sm-6 col-12 col-md-3">
                              <ul>
                                  <li>
                                      <label>EPP Enrolled:</label>
                                      <span class="">Yes</span>
                                  </li>
                                  <li>
                                      <label>
                                          EPP Amount:</label>
                                      <span class="">$10</span>
                                  </li>
                                  <li>
                                      <label>Property Tax Handling Fee:</label>
                                      <span class=""> $15.60 </span>
                                  </li>


                              </ul>

                          </div>

                      </div>
                      <h6>Your account has beed handed over to the following collection agency:
                          <br>
                          <span>ABC Collections | 800-203-5634</span></h6>


                  </div>
              </div>
          </div>

          <!--Equipment Coverage Tab Cnt starts-->

          <div class="tab-pane container" id="Coverage">

              <div class="card">
                  <div class="card-header text-center">
                      <label>Lease Status:</label>
                      <span class="statusWrap">Current</span>
                      <br>

                      <div class="styletwo">
                          <span class="">NON-CANCELLABLE</span>
                          <span class="">Lease</span>
                      </div>
                  </div>

                  <div class="card-body py-5">
                      <ul>
                          <li>
                              <label>Equipment Coverage:</label>
                              <span class="">Yes</span>
                          </li>
                          <li>
                              <label>
                                  Equipment Coverage Company:</label>
                              <span class=""> Allstate</span>
                          </li>
                          <li>
                              <label>Policy Number:</label>
                              <span class=""> 9129-121212-12321 </span>
                          </li>
                          <li>
                              <label>Start Date:</label>
                              <span class="">  02/20/2016 </span>
                          </li>
                          <li>
                              <label>End date:</label>
                              <span class="">  02/19/2021 </span>
                          </li>
                      </ul>
                      <h6> On information regarding how to raise a claim
                          <a [routerLink]="['/dashboard/claims']" >Click
                              Here
                          </a>
                      </h6>
                  </div>
              </div>


          </div>

      </div>

  </div>

</div>

<!-- ------------------ payment-help-popup ------------------- -->
<payment-help-popup></payment-help-popup>