<div class="modal fade" [ngClass]="{'show':showPopup}" id="paymentpop" [style.display]="showPopup?'block':'none'">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title"></h4>
              <button type="button" class="close" data-dismiss="modal" (click)="closeButtonClicked()"><img src="assets/img/close-icon.svg"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body ">
              <div class="mod-heading mb-5">How to Make a Payment</div>
              <p class="px-5 pb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                  Ipsum
                  has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                  and scrambled it to make a type specimen book. It has survived not only five.</p>


          </div>

          <!-- Modal footer -->
          <div class="modal-footer ">
          </div>

      </div>
  </div>
</div>