<div class="row">
  <div class="col-12 db-inner-wrap  ">
      <!--breadcrums Starts Here-->
      <div class="row db-bread-wrap pt-3">
          <ol class="breadcrumb  w-100">
              <li class="breadcrumb-item"><a href="#">urLease</a></li>
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active">FAQ</li>
          </ol>

      </div>
      <!--wraper for FAQ-->
      <div class="row ">
          <div class="db-inner-box col-12 eol ">
              <div class="faqWrap">Frequently Asked Questions</div>
              <div class="row">
                  <div id="accordion">
                      <div class="card">
                          <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                          aria-expanded="true" aria-controls="collapseOne">
                                      I'd like to cancel my lease, what are my options?
                                  </button>
                              </h5>
                          </div>

                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                               data-parent="#accordion">
                              <div class="card-body">


                                  <p>Leases are non-cancelable agreements. At any time during the term of your
                                      lease (before maturity of the initial term), you may contact Global Leasing
                                      for a quote to buy out the remainder of your term at (877) 257-2094.</p>


                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="headingTwo">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse"
                                          data-target="#collapseTwo" aria-expanded="false"
                                          aria-controls="collapseTwo">
                                      Where do I send my equipment at the end of my lease?
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                               data-parent="#accordion">
                              <div class="card-body">
                                  <p> Please use UPS, USPS, or FedEx (Canada Post for Canadian clients) and ship
                                      your equipment to:
                                  </p>

                                  <p>TASQ Technologies</p>

                                  <p>1169 Canton Road</p>

                                  <p>Marietta, GA 30066</p>

                                  <p>Please e-mail the tracking number to FDGLClientServices@firstdata.com and
                                      reference your Merchant ID# and/or Lease # in the e-mail.</p>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="headingThree">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse"
                                          data-target="#collapseThree" aria-expanded="false"
                                          aria-controls="collapseThree">
                                      Will I be invoiced for my monthly lease payment? On what day of the month
                                      will First Data Global Leasing debit my bank account for lease payments? Can
                                      I adjust this date?

                                  </button>
                              </h5>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                               data-parent="#accordion">
                              <div class="card-body"><p>You will not receive a paper invoice/statement. Payments
                                  are made via electronic debit and the payment will be reflected as "FDGL Lease
                                  Pymt" on your bank account statement.</p>
                                  <p>The date that First Data Global Leasing will debit your bank account for
                                      lease payments is dependent upon the date of the month that your lease was
                                      activated in our system. To determine this date, please refer to the welcome
                                      letter you received at the beginning of your lease term or send an inquiry
                                      to <a href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a>
                                      with your Merchant ID # and/or Lease #.
                                      You will typically receive a response within 24-48 hours (excluding
                                      weekends).</p>
                                  <p>You do have the ability to change your billing cycle. To do so, please send
                                      your detailed request to FDGLClientServices@firstdata.com along with your
                                      Merchant ID # and/or Lease #. You will typically receive a response within
                                      24-48 hours (excluding weekends).</p>

                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="heading4">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse"
                                          data-target="#collapseThree" aria-expanded="false"
                                          aria-controls="collapseThree">
                                      What are the lease terms?

                                  </button>
                              </h5>
                          </div>
                          <div id="collapse4" class="collapse" aria-labelledby="heading4"
                               data-parent="#accordion">
                              <div class="card-body"><p>
                                  For a complete disclosure of the terms and conditions of your equipment lease,
                                  please send your request to FDGLClientServices@firstdata.com. You will typically
                                  receive a response within 24-48 hours (excluding weekends).</p>

                              </div>
                          </div>
                      </div>


                  </div>
              </div>


          </div>
      </div>


  </div>


</div>