<div class="col-12 land-cnt-01 ">
  <div class="row">
    <div class="col-12 col-md-6 land-cnt-01-inner text-left ">

      <h4 class="fd-SubHeading"> Benefits for Business</h4>
      <p class="">With no upfront investment, you can pay for your equipment out of your cash flow and
        preserve
        your working capital and available credit. A low monthly lease payment will allow your POS
        equipment to start earning for you immediately so that you can keep your focus on growing your
        day-to-day business.</p>
      <p>Conserve your capital - what else could you do with your cash and credit lines?</p>
      <ul class="">

        <li>Expand your business</li>
        <li>Rejuvenate your website</li>
        <li>Increase advertising and promotional funds</li>
        <li>Replenish low or out-of-stock inventory</li>
        <li>Renovate your storefront or modernize your warehouse</li>
        <li>Refresh your fleet vehicles</li>


      </ul>

    </div>
    <div class="col-12 col-md-6 bg-lightgray ">
      <div class="row">
          <div class="col-12 land-img-mx  text-center ">
            <img class="img-fluid" src="./assets/img/landCntOne.png">
          </div>
      </div>

    </div>
  </div>
</div>

