<div class="row">
  <div class="col-12 db-header ">
      <div class="row">
          <div class="col-5 d-md-block d-sm-none d-none  logoWrap   ">
              <img class="" src="assets/img/firstdata_logo.svg">
          </div>
          <div class="col-12 col-md-7  ">
              <!--dropdown for Mobile-->
              <div class="col-6 ">
                  <div class="dropdown d-inline-block d-md-none d-sm-block pl-5 pt-3 ">
                      <button class="btn  dropdown-toggle btn-outline-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          -Select Product-
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item " href="#">Clover Capital</a>
                          <a class="dropdown-item" href="#">Advanced Same Day Funding </a>
                      </div>
                  </div>

              </div>

              <div class="clearfix"></div>

              <div class=" but-wrap d-md-block d-sm-none d-none ">
                  <button type="button" class="btn btn-outline-primary">Clover Capital</button>
                  <button type="button" class="btn btn-outline-primary ">Advanced Same Day Funding</button>
              </div>
              <div class="icon-wrap">
                     <span class="chatWrap  float-right d-inline-block">
                  <img src="assets/img/chatIcon.svg">
                  <br>
                  <span class="clearfix">Chat</span>
              </span>


                  <div class="alertWrap  float-right d-inline-block" data-toggle="modal" data-target="#alertspop" (click)="showAlerts()">
                      <span class="fd-badge">6</span>
                      <img src="assets/img/alert.svg">
                      <br>
                      <span class="clearfix">Alert</span>
                  </div>


              </div>


          </div>
      </div>


  </div>
</div>


<!-- -------------alerts popup------------------- -->
<alerts-popup [(showPopup)]="openPopup"></alerts-popup>