<div id="signWrap" class=" h-100 container-fluid">
  <div class="row">
      <div class="col-sm-12">
          <h1 id="brandLogo" class="text-center"><a (click)="backToLandingPage()"><img src="./assets/img/firstdata_logo.svg"></a></h1>
          <div class="formWrap ">
              <div class="formWrapInner">
                  <br>

                  <h1 class="headingWrap">Sign in</h1>
                  <div class="tab-content" id="signin-tab-content">

                      <div class="tab-pane fade show active" id="signup" role="tabpanel"
                           aria-labelledby="signup-tab">
                          <p class="loginDesc">Please fill all fields below</p>

                          <!-- Sign In form -->
                          <form>

                                <div class="form-group emailWrap">
                                        <input type="" class="form-control" placeholder="Email" value="Email"   >
                                       
                                    </div>
                             
                                    <div class="form-group passwordWrap">
                                            <input type="password" class="form-control" placeholder="Temp Password"  >
                                           
                                        </div>
                              <br><br>

                              <button type="button"
                                      (click)="changeTempPass()"
                                      class="btnSubmit btn btn-primary btn-lg btn-block">Sign In
                              </button>


                              <br>
                              <br>


                          </form>
                          <!-- end of form -->

                      </div>
                  </div>


              </div>
          </div>
      </div>

  </div>
</div>