<div class="row">
  <div class="col-12 land-hero  ">
    <div class="row">
      <div class="clearfix">
        <img class="img-fluid" src="./assets/img/hero.png">
      </div>
      <div class=" land-hero-cnt h-100 ">
        <div class="land-hero-cnt-inner">

          <h4 class="fd-Heading text-center">First Data Global Leasing</h4>
          <br>
          <p class="norTxt text-center">First Data Global Leasing specializes in providing cost-effective
            <br>options for
            leasing of
            point-of-sale equipment to support your<br> business’s long and short-term needs and goals.</p>
        </div>
      </div>

    </div>
  </div>
</div>
