

<div id="SidenavRytBut" class="sidenavR" [ngClass]="{'tbut ctrlWidthRytR':rytSideBut}" (click)="sidebarRyt()">

</div>

<div id="SidenavRyt" [ngClass]="{'ctrlWidthRyt':rytSide}" class="prodisplay">

  <div class="row oddBg ">
      <div class="w-50 ">
          <div class="pro-img-pad">
              <img src="assets/img/bitmap.png">
          </div>
      </div>
      <div class="w-50  pro-cnt-wrap">
          <h3>Coming Soon!</h3>
          <p>Coming Soon!</p>

      </div>

  </div>

  <div class="row evenBg">
      <div class="  w-50  ">
          <div class="pro-img-pad">
              <img src="assets/img/pro-sample.png">
          </div>
      </div>
      <div class="w-50  pro-cnt-wrap">
          <h3>Coming Soon!</h3>
          <p>Pay Towards your<br> lease</p>

      </div>
  </div>
  <div class="row oddBg ">
      <div class="w-50 ">
          <div class="pro-img-pad">
              <img src="assets/img/pro-sample.png">
          </div>
      </div>
      <div class="w-50  pro-cnt-wrap">
          <h3>Coming Soon!</h3>
          <p>Lease Document <br>Management</p>

      </div>

  </div>
  <div class="row evenBg">
      <div class="  w-50  ">
          <div class="pro-img-pad">
              <img src="assets/img/pro-sample.png">
          </div>
      </div>
      <div class="w-50  pro-cnt-wrap">
          <h3>Coming Soon!</h3>
          <p>Single Sign on to your <br> favorite acquiring Dashboard</p>

      </div>
  </div>


</div>