<div id="signWrap" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="brandLogo" class="text-center"><a href="index.html"><img src="./assets/img/firstdata_logo.svg"></a></h1>
      <div class="formWrap ">
        <div class="formWrapInner">

          <h1 class="headingWrap">Sign In</h1>
          <div class="tab-content" id="signin-tab-content">

            <div class="tab-pane fade show active" id="signup" role="tabpanel"
                 aria-labelledby="signup-tab">
                 <div *ngIf="regSignIn.submitted; else show">
                    <p  class="loginDesc fd-bld">Your email or password is incorrect!</p>
                 </div>

                 <ng-template #show>
                  <p class="loginDesc ">  Please complete all fields below</p>
                 </ng-template>


              <!-- sign in page -->


              <form #regSignIn="ngForm" (submit)="regularSignIn(regSignIn)">
                <div class="form-group emailWrap ">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    name="email"
                    required
                    ngModel

                  >

                </div>
                <div class="form-group passwordWrap ">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    required
                    name="password"
                    ngModel

                  >
                </div>


                <button type="submit"

                        class="btnSubmit spe-sign btn btn-primary btn-lg btn-block" >Sign In
                </button>


              </form>


              <!-- end of sign In form -->

            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>
