<div class="row db-lease-tab-cnt  py-4">
  <div class=" col-6 ">
      <ul>
          <li>
              <label>Merchant Name:</label>
              <span class="">{{leaseData["Merchant Name"]}}</span>
          </li>
          <li>
              <label>
                  Merchant ID:</label>
              <span class="">{{leaseData["Merchant ID"]}}</span>
          </li>
          <li>
              <label>Lease # : </label>
              <span class="">052-5234567-000</span>
          </li>
      </ul>

  </div>
  <div class=" col-6 ">
      <ul>
          <li>
              <label>Business Address: </label>
              <span class="">4000 Coral Springs Dr, Coral Springs, FL 33065</span>
          </li>
          <li>
              <label>
                  Business Contact:</label>
              <span class=""> John Duo</span>
          </li>
          <li>
              <label>Email:</label>
              <span class=""> tesemail@uslease.com</span>
          </li>
      </ul>
  </div>

</div>