<div class="row ">
        <div class="col-12 db-inner-wrap faq  ">
            <!--breadcrums Starts Here-->
            <div class="row db-bread-wrap pt-3">
                    <ol class="breadcrumb  w-100">
                        <li class="breadcrumb-item"><a href="#">urLease</a></li>
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">EPP</li>
                    </ol>
    
                </div>

            <div class="row">
                <ul class="details px-4 pt-4">
                    <li>
                        <label>Marchent Name:</label>
                        <span class="">BBQ & Burgers</span>
                    </li>
                    <li>
                        <label>
                            Contact Name:</label>
                        <span class="">Alan Fresco</span>
                    </li>
                    <li>
                        <label>Total Monthly EPP:</label>
                        <span class="activeBg"> $0.00</span>
                    </li>
    
                </ul>
    
            </div>
    
    
            <hr>
            <div class="row">
                <div class="col-12">
                    <p class="cntTxt pb-4"><img src="assets/img/alertred.svg"> You have the following leases that do
                        not
                        have any equipment protection
                        coverage. Please select the leases for which you would like to have EPP coverage. </p>
                    <div class="row">
                        <div class="col-12 col-md-6  ">
                            <div class="row ">
                                <div class="col-12 col-md-6">
                                    <div class="w-50 float-left">
                                        <label class="">Lease #</label>
                                        <br>
                                        <span class="">052-5234567-000</span></div>
                                    <div class="w-50 float-right">
                                        <!-- Rectangular switch -->
                                        <label class="switch">
                                            <input type="checkbox" class="togBtn" id="togBtn">
                                            <span class="slider round en-first-checkbox" data-toggle="modal"
                                                  data-target="#myModal"></span>
                                        </label>
                                        <span class="txtthree ">$0.00</span>
                                    </div>
    
    
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="w-50 float-left">
                                        <label class="">Lease #</label>
                                        <br>
                                        <span class="">052-5234567-000</span></div>
                                    <div class="w-50 float-right">
                                        <!-- Rectangular switch -->
                                        <label class="switch">
                                            <input type="checkbox" class="togBtn" id="togBtn2">
                                            <span class="slider round en-second-checkbox" data-toggle="modal"
                                                  data-target="#myModal2"></span>
                                        </label>
                                        <span class="txtthree">$0.00</span>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <br>
                    <form>
    
    
                        <div class="form-group">
                            <div class="form-check">
                                <input disabled class="form-check-input terms" type="checkbox" id="gridCheck">
                                <label class="form-check-label ctrlPad" for="gridCheck">
                                    YES, I choose to enroll in First Data's Equipment Protection
                                    Program </label>
                            </div>
                            <div class="form-check">
                                <input disabled class="form-check-input terms" class="form-check-input"
                                       type="checkbox" id="gridCheck1">
                                <label class="form-check-label ctrlPad" for="gridCheck">
                                    NO, I am providing a certificate of insurance that names First Data as the
                                    loss payee to meet the insurance requirement of my lease agreement. The
                                    insurance certificate is included with this response </label>
                            </div>
                        </div>
                    </form>
                    <p>Enrollment in the First Data Equipment Protection Program relieves you of the requirement
                        to maintain insurance on your leased equipment</p>
                    <p><b>By checking YES above, the Lessee(s) is/are relived of their obligation to provide
                        proof
                        of insurance under the Lease Agreement.</b> Each lease that checks Yes above pays a
                        monthly
                        charge to FDMS, determined by FBMS and included on the monthly lease payment. The
                        monthly charge includes a program fee and compensation to EDMS for program
                        administration. FDMS reserves the right to change the monthly charge. We will notify you
                        thirty (30) days prior to the effective date of charge.</p>
                    <p>Board Protection: The First Data Equipment Protection Program provides FULL REPLACEMENT
                        protection for loss due to a wide variety of perils.</p>
                    <br>
                    <br>
                </div>
    
    
            </div>
    
            <div class="row">
    
                <div class="col-12 col-sm-6 listWrap py-4 ">
                    <ul>
                        <li>
                            Accidental Damage
                        </li>
                        <li> Burglary Theft and Robbery</li>
                        <li> Collapse</li>
                        <li> Employee Theft</li>
                        <li> Falling Objects</li>
                        <li> Fire and Smoke
                    </ul>
    
                </div>
                <div class="col-12 col-sm-6 listWrap py-4">
                    <ul>
                        <li>
                            Hail
    
                        </li>
                        <li> Flood and Water
                        </li>
                        <li>Lightning and Power Surge
                        </li>
                        <li> Transit
                        </li>
                        <li> Vandalism
                        </li>
                        <li> Wind, Hurricane and Tornado
                    </ul>
    
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-5">
    
                    <p class="text-center">Perils shown in bold above are often not covered by standard business
                        insurance
                        policies.</p>
                </div>
    
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <form>
    
    
                        <div class="form-group">
                            <div class="form-check">
                                <div class="row">
    
    
                                    <div class="col-8">
    
    
                                        <input disabled class="form-check-input terms" class="form-check-input"
                                               type="checkbox" id="gridCheck2"><label class="ctrlPad">
                                        I agree to the First Data Terms of Service and Privacy Policy </label>
                                    </div>
                                    <div class="col-4 text-right butAdj">
                                        <button disabled
                                                class="form-check-input terms btn btn-outline-secondary"
                                                type="button"
                                        >SUBMIT
                                        </button>
                                    </div>
                                </div>
    
    
                            </div>
    
                        </div>
                    </form>
    
    
                </div>
    
    
            </div>
    
    
        </div>
    </div>
    <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
        
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <button type="button" class="close add" data-dismiss="modal"><img src="assets/img/close-icon.svg"></button>
                    </div>
        
                    <!-- Modal body -->
                    <div class="modal-body">
                        <br>
                        <p class="px-5 pb-5">There are more leases in your account that do not have any coverage. Would you like
                            to add those to EPP Coverage?</p>
                        <br>
                        <br>
        
                        <div class=" text-center">
                            <button type="button" class="btn modbutgreen addnow" data-dismiss="modal">Add Now</button>
        
        
                        </div>
        
        
                    </div>
        
                    <!-- Modal footer -->
                    <div class="modal-footer text-center ">
                        <br><br>
        
        
                    </div>
        
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal2">
            <div class="modal-dialog">
                <div class="modal-content">
        
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <button type="button" class="close add" data-dismiss="modal"><img src="assets/img/close-icon.svg"></button>
                    </div>
        
                    <!-- Modal body -->
                    <div class="modal-body">
                        <br>
                        <p class="px-5 pb-5">There are more leases in your account that do not have any coverage. Would you like
                            to add those to EPP Coverage?</p>
                        <br>
                        <br>
        
                        <div class=" text-center">
                            <button type="button" class="btn modbutgreen addnow" data-dismiss="modal">Add Now</button>
        
        
                        </div>
        
        
                    </div>
        
                    <!-- Modal footer -->
                    <div class="modal-footer text-center ">
                        <br><br>
        
        
                    </div>
        
                </div>
            </div>
        </div>