<div class="row">
        <div class="col-12 land-head ">
            <div class="row">
                <div class="col-12 col-md-6 ">
                    <h1 class="aLeft"><a><img class="img-ctrl" src="./assets/img/firstdata_logo.svg"></a></h1>
                </div>
                <div class="col-12 col-md-6 aRight  mTop ctrl-sm-device ">
                    <button type="button" (click)="signIn()"
                            class="btn btn-lg fd-but-sign">
                        Sign In
                    </button>
                  <span class="butSpacer "></span>

                  <button type="button" (click)="signUp()"
                            class="btn btn-lg fd-but-sign">Sign Up
                    </button>

                </div>
            </div>


        </div>

    </div>
